.block_wrap_instagram {
	width: 100%;
	margin: 0px auto 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

.block_wrap_instagram .instagrm-item {
	position: relative;
	z-index: 2;
	overflow: hidden;
	width: calc(12.5%);
}


.block_wrap_instagram .instagrm-item img {
	-webkit-transition-duration: 1000ms;
	transition-duration: 1000ms;
	height: 100%;
	flex-shrink: 0;
}

.mt{
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}


.block_wrap_instagram .instagrm-item a {
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	text-align: center;
	display: inline-block;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	z-index: 30;
	width: 100%;
	top: 50%;
	left: 0;
	font-size: 24px;
	color: #191919;
	text-transform: uppercase;
	opacity: 0;
	visibility: hidden;
}


.block_wrap_instagram .instagrm-item a:hover {
	color: #d1bb95;
}

.block_wrap_instagram .instagrm-item a i {
	margin-right: 5px;
}

.block_wrap_instagram .instagrm-item:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition-duration: 1000ms;
	transition-duration: 1000ms;

}

#instagrm-item-0 img {
	width: 50%;
}

.block_wrap_instagram .instagrm-item:hover::after, .block_wrap_instagram .instagrm-item:hover a {
	opacity: 1;
	visibility: visible;
}

.instagram-link {
	width: 100%;
	height: 100%;
}

#instagrm-item-0 {
	text-align: center;
}

#instagrm-item-0 {
	height: auto;
	position: relative;
}

#instagrm-item-0 img {
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;

}



@font-face {
	font-family: 'instagrm_altop';
	src:  url('fonts/instagrm_altop.eot?dk191e');
	src:  url('fonts/instagrm_altop.eot?dk191e#iefix') format('embedded-opentype'),
	url('fonts/instagrm_altop.ttf?dk191e') format('truetype'),
	url('fonts/instagrm_altop.woff?dk191e') format('woff'),
	url('fonts/instagrm_altop.svg?dk191e#instagrm_altop') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="iconin-"], [class*=" iconin-"] {
	font-family: 'instagrm_altop' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconin-instagram:before {
	content: "\10ffff";
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


#instagrm-item-0{
	position: relative;
}


/*for enext*/
img[data-lazyload-src] {
	-webkit-transition: 1s !important;
	-moz-transition: 1s !important;
	-ms-transition: 1s !important;
	-o-transition: 1s !important;
	transition: 1s!important;
}

@media (max-width:968px) {

	.block_wrap_instagram .instagrm-item {
		width: calc(25%);
	}
}